<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professores</title>
    <link rel="stylesheet" href="/static/css/cadprof.css">
</head>
<body>
    <div id="form_fundo">
        <h1>Cadastrar Professores</h1>
        <div id="form_frente"></div>
            <form action="/cadastrarProfessor" id="cadastro" method="post">
                <label for="nome">Nome: </label>
                <input type="text" name="name" id=name required placeholder="Digite o nome"> <br><br>
                <label for="email" id="email">Email: </label>
                <input type="text" name="email" id="email" required placeholder="Digite o email"> <br><br>
                <label for="text" id="numero">Telefone: </label>
                <input type="text" name="telefone" id="telefone" required placeholder="Digite o número"> <br><br>
                <label for="competencias">Competências: </label>
                <select id="documentos" name="documentos">
                    <option value="" selected disabled hidden >Selecione as opções</option>
                    <option value="1">Projetos de Sistemas WEB</option>
                    <option value="2">Cálculo I</option>
                    <option value="3">Cálculo II</option>
                    <option value="4">Eletromagnetismo</option>
                    <option value="4">Desenvolvimento de Protótipos</option>
                    <option value="4">Gerência e Segurança de Redes</option>
                    <option value="4">Sistemas de Rádio Enlace</option>
                </select> <br><br>
                
                <button type="submit" id="btn_Cadastrar">                      
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Cadastrar
                    
                </button>


            </form>
    </div>
</body>
</html>