<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <div id="form_fundo">
        <h1>Aonde você deseja ir?</h1>
        <div id="form_frente">
            <form action="/Cadprof" id="cadprof" method="post">
                <button type="submit" id="btn_Cadastrar_Pofessores">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>Cadastro de Professores
                </button>
            </form>
            <form action="/Caddisc" id="caddisc" method="post">
                <button type="submit" id="btn_Cadastrar_Disciplinas">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>Cadastro de Disciplinas
                </button>
            </form>
            <form action="/Vincprofdisc" id="vincprofdisc" method="post">
                <button type="submit" id="btn_Vincular_Professor_Disciplinas">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>Vincular Professores às Disciplinas
                </button>
            </form>
            <form action="/Turmas" id="turmas" method="post">

                <button type="submit" id="btn_Turmas">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>
                    <span> </span>Turmas
                </button>
            </form>
        </div>
    </div>
</body>

</html>