<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <div id="form_fundo">
        <h1>MENU</h1>
        <div id="form_frente">
            <form action="/professores" id="professores" method="get">
                <button type="submit" id="btn_Cadastrar_Pofessores">
                    Cadastro de Professores
                </button>
            </form>
            <form action="/disciplinas" id="disciplinas" method="get">
                <button type="submit" id="btn_Cadastrar_Disciplinas">
                    Cadastro de Disciplinas
                </button>
            </form>
            <form action="/vprofessoresdisciplinas" id="vprofessoresdisciplinas" method="get">
                <button type="submit" id="btn_Vincular_Professor_Disciplinas">
                    Vincular Professores às Disciplinas
                </button>
            </form>
            <form action="/turmas" id="turmas" method="get">
                <button type="submit" id="btn_Turmas">
                    Turmas
                </button>
            </form>
        </div>
    </div>
</body>

</html>