<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
<nav>
    <h1>Sistema acadêmico</h1>
    <h2>Professores</h2>
    <a href="/professores"><button>Cadastrar</button></a>
    <a href="/professores-consulta"><button>Editar</button></a>
    <h2>Disciplinas</h2>
    <a href="/disciplinas"><button>Cadastrar</button></a>
    <a href="/disciplinas-consulta"><button>Editar</button></a>
    <h2>Turmas</h2>
    <a href="/turmas"><button>Cadastrar</button></a>
    <a href="/turmas-consulta"><button>Editar</button></a>
</nav>
</body>

</html>