<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professores</title>
    <link rel="stylesheet" href="/static/css/professores.css">
</head>

<body>
    <div id="form_fundo">
        <h1>Cadastrar Professores</h1>
        <div id="form_frente">
            <form action="/cadastrarprofessor" id="cadastro" method="post">
                <div class="linha">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" required placeholder="Ex: João Pedro Pereira Moreno">
                </div>
                <div class="linha">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" required placeholder="Ex: jpmoreno@gmail.com">
                </div>
                <div class="linha">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" name="telefone" id="telefone" required placeholder="Ex: (85) 99123-4567">
                </div>
                <div class="linha">
                    <label for="habilitacao">Habilitação:</label>
                    <select name="habilitacao" id="habilitacao" required>
                        <option value="">Selecione uma habilitação</option>
                        {% for habilitacao in habilitacoes %}
                        <option value="{{ habilitacao['id_habilitacao'] }}">{{ habilitacao['descricao'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" onclick="window.location.href='/'" id="btn_Voltar">
                    Voltar
                </button>
                <button type="submit" id="btn_cadastrar">
                    Cadastrar
                </button>

            </form>
        </div>
    </div>
</body>

</html>